<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:label,android:icon"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ConfigActivity" android:exported="true" android:label="@string/config_name">
            <intent-filter>
                <action android:name="jOS.ThemeEngine.CONFIG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="jOS.ThemeEngine.database"
            android:authorities="jOS.Core.ThemeEngine.database"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>